.Right {
  display: flex;
  padding: 1.25em;
  width: 400px;
  border: 1px solid #f8f8f8;
  border-radius: 2px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  font-size: 1.2em;
  margin: auto;
}

.Right img {
  display: flex;
  max-height: 120px;
  margin-right: 1.5rem;
  position: relative;
  left: 17em;
}

.Right blockquote {
  margin: 1rem 0 1rem 0;
  position: relative;
  right: 5em;
}

.Right cite {
  margin: 1rem 0 1rem 0;
  position: relative;
  right: 4em;
}

.Left {
  display: flex;
  padding: 1.25em;
  width: 400px;
  border: 1px solid #f8f8f8;
  border-radius: 2px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  font-size: 1.2em;
  margin: auto;
}

.Left img {
  display: flex;
  max-height: 120px;
  margin-right: 1.5rem;
  position: relative;
  left: 0em;
}

.Left blockquote {
  margin: 1rem 0 1rem 0;
  position: relative;
  left: 0em;
}

.Left cite {
  margin: 1rem 0 1rem 0;
  position: relative;
  left: -1em;
}
